body {
  background-color: #64b1bb;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.App {
  text-align: center;
  padding: 20px;
  /* background-color: #64b1bb; */
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.pokemon-image {
  border: 10px #f80000;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.pokemon-image:hover {
  transform: scale(1.1)
}

.pokemon-page {
  display: flex  ;
  flex-direction: column;
  align-items: center;
}

.pokemon-page .pokemon-sprite{
  width: 350px;
  height: 350px;
}

.pokemon-page .discription{
  text-align: center;
}

.pokemon-page .abilities{
  text-align: center;
}

.pokemon-page .stats{
  text-align: center;
}

.pokemon-page .moves{
  text-align: center;
}